apiVersion: apps/v1
kind: Deployment
metadata:
  name: migrate-db
  namespace: "{{ tpa_single_node_namespace }}"
  labels:
    app: migrate-db
    app.kubernetes.io/version: 3.1.0
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: migrate-db
  template:
    metadata:
      labels:
        app: migrate-db
    spec:
      restartPolicy: OnFailure
      containers:
        - name: run
          image: "{{ tpa_single_node_trustification_image }}"
          imagePullPolicy: IfNotPresent
          env:
            - name: TRUSTD_DB_HOST
              value: "{{ tpa_single_node_pg_host }}"
            - name: TRUSTD_DB_PORT
              value: "{{ tpa_single_node_pg_port }}"
            - name: TRUSTD_DB_NAME
              value: "{{ tpa_single_node_pg_db }}"
            - name: TRUSTD_DB_USER
              value: "{{ tpa_single_node_pg_admin }}"
            - name: TRUSTD_DB_PASSWORD
              value: "{{  tpa_single_node_pg_admin_passwd }}"
            - name: TRUSTD_DB_SSLMODE
              value: {{ tpa_single_node_pg_ssl_mode }}
{% if tpa_single_node_storage_compression != 'None' %}
            - name: TRUSTD_STORAGE_COMPRESSION
              value: {{ tpa_single_node_storage_compression }}
{% endif %}
{% if tpa_single_node_storage_region == 'None' %}
            - name: TRUSTD_STORAGE_STRATEGY
              value: fs
            - name: TRUSTD_STORAGE_FS_PATH
              value: /data/storage
{% else %}
            - name: TRUSTD_STORAGE_STRATEGY
              value: s3
            - name: TRUSTD_S3_ACCESS_KEY
              valueFrom:
                secretKeyRef:
                  name: storage_secret
                  key: storage_access_key
            - name: TRUSTD_S3_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: storage_secret
                  key: storage_secret_key
            - name: TRUSTD_S3_BUCKET
              value: "{{ tpa_single_node_storage_bucket }}"
            - name: TRUSTD_S3_REGION
              value: "{{ tpa_single_node_storage_region }}"
{% if s3_trust_anchors_list is defined %}
            - name: TRUSTD_S3_TRUST_ANCHORS
              value: "{{ s3_trust_anchors_list }}"
{% endif %}
{% endif %}
          command:
            - trustd
            - db
            - migrate
          volumeMounts:
{% if tpa_single_node_storage_region == 'None' %}
            - name: storage
              mountPath: /data/storage
{% else %}
            - name: storage-secret
              mountPath: /etc/storagesecret
              readOnly: true
{% if s3_trust_anchors_list is defined %}
            - mountPath: /etc/s3-trust-anchors
              name: s3-trust-anchors
              readOnly: true
{% endif %}
{% endif %}
      volumes:
{% if tpa_single_node_storage_region == 'None' %}
        - name: storage
          persistentVolumeClaim:
            claimName: storage
{% else %}
        - name: storage-secret
          secret:
            secretName: storage_secret
{% if s3_trust_anchors_list is defined %}
        - name: s3-trust-anchors
          configMap:
            name: s3-trust-anchors
{% endif %}
{% endif %}
